<%- include('partials/logheader') %>
<title>Sign UP | BLOG POST</title>
<div class="home">
  <div class="half">
    <div class="signup-box">
      <div class="signup">
        <h1 class="mt-4" style="letter-spacing: 5px;">BLOG POST</h1>
        <div class="message mt-4 pr-3 pl-3">
          <% if(error!="") { %> 
          <div class=" alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= error %> 
          </div>
          <% } %>
          <% if(error_message!="") { %> 
          <div class=" alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= error_message %> 
          </div>
          <% } %>
          <% if(success_message!="") { %> 
          <div class=" alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= success_message %> 
          </div>
          <% } %>
        </div>
        <% if(success_message=="") { %>
        <form class=" pr-3 pl-3" action="/register" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
          <button type="submit" class="btn btn-info btn-block">Sign Up</button>
        </form>
        <% } %>
        <hr style="height:2px; width:95%;">
        <div class="register">
          <p>Already have an account? <a href="/login">Log In</a></p>
        </div>
      </div>
      <div class="google-login mt-4">
        <a style="color: #E94335; font-weight: 700;" href="/auth/google"><img style="margin-right: 10px;"
            src="/images/google-logo.svg" alt="">
          Continue with Google</a>
      </div>
      <div class="google-login mt-4">
        <a style="color: #2E3192; font-weight: 700;" href="/about"><img style="margin-right: 10px;"
            src="/images/icon.svg" alt="">
          Know about BLOG POST</a>
      </div>
    </div>
  </div>
  <div class="other-half"></div>
</div>
</div>
<%- include('partials/logfooter') %>