<%- include('partials/postheader') %>
<title>Profile | BLOG POST</title>
<div class="profile">
  <div class="dp">
    <img class="dpimg" src="/user/<%= author.dp %>" alt="">
  </div>
  <div class="name">
    <h2><%= author.username %></h2>
    <div class="bio">
      <% if (author.bio!="") { %>
      <p style="font-weight: 300;"><strong>BIO: </strong><%= author.bio %> </p>
      <% } %>
    </div>
    <div>
      <p>Number of posts made by <%= author.username %>: <%= posts.length %></p>
    </div>
  </div>
</div>
<h3 class="mb-3 text-center"><%= author.username %>'s posts</h3>
<% if(posts.length==0){ %>
<p class="text-center"><strong>No posts yet</strong></p>
<% } %>
<div class="row" style="justify-content: center; align-items: center;">
  <% posts.reverse().forEach(post => { %>
  <div class="col-lg-4 col-sm-6 mb-4">
    <% if(dark==true){ %>
    <a style="color: white;" href="/post/<%= post._id%>">
      <div class="card bg-dark">
        <% } %>
        <% if (dark==false) { %>
        <a style="color: black;" href="/post/<%= post._id%>">
          <div class="card bg-light">
            <% } %>
            <div class="card-header bg-info">
              <h4 data-toggle="tooltip" title="<%= post.title %>"><%= post.title.substring(0,20) %></h4>
            </div>
            <div class="card-body ">
              <p data-toggle="tooltip" class="text-center" title="Read More"><%= post.content.substring(0,100) %>...</p>
              <p class="card-text"><small>Post modified at: <em><%= post.time %> </em></small></p>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
  </div>
  <%- include('partials/postfooter') %>