<%- include("partials/postheader"); -%>
<title>Compose New | BLOG POST</title>
<form action="" method="POST">
  <div class="form-group">
    <label><strong>Title</strong></label>
    <input class="form-control" type="text" name="postTitle" value="<%= title %>" required>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
    <label><strong>Body</strong> (atleast 150 words)</label>
    <textarea minlength="150" class="form-control" name="postBody" cols="30" rows="10"
      required><%= content %></textarea>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Publish</button>
    <a href="<%= redlink %> " class="cancel">Cancel</a>
  </div>
</form>
<%- include("partials/postfooter"); -%>